nav {
  display: flex;
  justify-content:  space-between;

  padding: 1rem;
  font-family: var(--font-alt);
  font-size: 2rem;
  box-shadow: var(--box-shadow-secondary);
  width: 100%;
  background-color: #212529;
  color: var(--color-white);
  position: fixed;
  top: 0;
  z-index: 100;
}

.linksContainer {
  display: flex;
  align-items: center;
}

.linksContainer a {
  color: var(--color-white);
}

.linksContainer a:nth-last-child(1){
  padding-left: 2rem;
}

.personalInfoContainer i {
  font-size: 3rem;
  cursor: pointer;
}

.personalInfoContainer i:nth-child(1){
  padding-right: 2rem;
}